body, h2, p, details, .homecard{
  font-family: Helvetica;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #095a33;
  /*text-align: center;*/
  margin: 0;
  /*padding: 0;*/
}

  /* 
  If you are going to remove the code without figuring out a solution yet,
  please let me know before hand so I DONT MERGE THE BRANCHES AND MESS UP TWO HOURS OF WORK thank you have a 
  nice day

  jk lol I fixed in 5 minutes but Im leaving this in because its funny
  */
body :not(.navbar, a, .second_background, .banner, .sos) { /* this is the funny annoying part */
  margin-left: 20px;
  margin-right: 20px;
}

.cardList {
  list-style-type: none;
  word-wrap: break-word;
  overflow: hidden;
  width: fit-content;
}

.cardList li {
  float: left;
  width: 250px; 
  height: 350px; 
  margin: 10px;
  padding: 15px;
  text-align: center; 
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(23, 26, 46, 0.25);
  
  
}

.cardList p{
  padding: 5px;
}

p {
  font-family: Helvetica;
  font-size: 15px;
  text-indent: 20px; /* Adjust the indentation value as needed */
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #095a33;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #167530;
  color: #8cd6ed;
}

/* Main content */
.main {
  margin-top: 300px; /* Add a top margin to avoid content overlay */
}

/* all the featured solutions are finicky, let Elijah deal with it, any complaints go to the groupchat MUAHAHAHAHA*/
#featured_solutions {
  font-size: 15px;
  /*text-align: center;*/
}

table, th, td {
  border: 1px solid;
}

/* for the bubble text */
.bubble {
  background: #64a16c;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 6, 62, 0.3); /* offset-x | offset-y | blur-radius | spread-radius | color */
  display: inline-block;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 100%;
  margin-bottom: 20px; /* Add spacing between bubbles */
}

.second_background {
  background-color: rgb(255, 251, 243);
  width: 100%;
  /* Add a subtle shadow */
  box-shadow: inset 0 0 10px #001203; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.banner {
  width: 100%; /* Ensure the image fills the container width */
  height: auto; /* Allow the height to adjust automatically to maintain aspect ratio */
}


cite {
  font-size: 10px;
  font-style: italic;
  color: gray;
}


.sos{
  display: flex;
  justify-content: space-evenly; /* You have now idea how long it took me to figure out space-evenly existed... */
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  list-style: none;
}
.sos ul {
  list-style: none;
  width: 24vw;
}

.sos iframe {
  width: 100%;
  height: 50%;
  margin: 0 !important;
}

.sos ul, li, p, h3 {
  
  margin: 0.5rem !important;
}

.sos h3 {
  font-size: 1.5rem;
  color: #095a33;
  font-weight: 800;
}

.sos p {
  font-size: 1rem;
  color: #095a33;
  font-weight: bold;
  text-align: left;
}

.homeIntro{
  background-color: #64a16c;
  margin: 0 !important;
}

.vl {
  border-left: 4px solid #095a33;
  height: auto;
}

.card iframe {
  width: 100%;
  height: 50%;
  margin: 0 !important;
}

.card {
  text-align: center;
}

.card h3{
  font-size: 1.5rem;
  color: #095a33;
  font-weight: 800;
}

.card p{
  font-size: 1rem;
  color: #095a33;
  font-weight: bold;
  text-align: left;
}

.cardblock {
  max-width: 100%;
  margin-bottom: 20px; /* Add spacing between bubbles */
  align-items: center;
  justify-content: left; /* Center content horizontally */
}

.cardtext {
  display: inline-block; 
  margin-right: 5px; /* Adjust margin to move text to the right */
}

.cardimage {
  display: inline-block;
  width: 150px; /* Ensure the image fills the container width */
  height: 150px; /* Allow the height to adjust automatically to maintain aspect ratio */
}

.cardimage img {
  display: inline-block;
  width: 100%; /* Ensure the image fills the container width */
  height: auto; /* Allow the height to adjust automatically to maintain aspect ratio */
  margin-top: 10px;
  margin-bottom: 25px;
}

hr {
  border: 2px solid #095a33;
  border-radius: 5px;
  width: 50rem; /* set the desired length of the line */
}