body {
  background-color: lightblue;
  text-align: center;
}
  
h3 {
  color: black;
  text-align: center;
}
  
p {
  font-family: Helvetica;
  font-size: 20px;
}
#featured_solutions {
  font-size: 20px;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.featured_solutions_container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}
.featured_solutions_text {
  flex: 1; /* Allow text to grow and shrink to fit */
  margin-right: 20px; /* Add some space between text and image */
}
.featured_solutions_image {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}